---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@components/ui/portable-text'

export const BenefitsNumberedGrid_Query = `
  _type == "BenefitsNumberedGrid" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    benefits[] {
      ${PortableTextQuery('title')}
      ${PortableTextQuery('description')}
    },
  },
`

export type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  paragraph?: PortableTextValue
  benefits: {
    title: PortableTextValue
    description?: PortableTextValue
  }[]
}

const { index, sectionId, heading, paragraph, benefits } = Astro.props
---

<section class="BenefitsNumberedGrid" id={sectionId}>
  <header>
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="heading" />
    {paragraph && <PortableText value={paragraph} class="paragraph" />}
  </header>
  <ol class="list">
    {
      benefits.map(({ title, description }) => (
        <li class="item">
          <PortableText value={title} heading={index === 0 ? 'h2' : 'h3'} class="heading h3" />
          {description && <PortableText value={description} class="description" />}
        </li>
      ))
    }
  </ol>
</section>

<style lang="scss">
  .BenefitsNumberedGrid {
    padding: clamp(calc(48rem / 16), calc(64vw / 7.68), calc(96rem / 16)) 0;
    header {
      max-width: calc(608rem / 16);
      margin-bottom: clamp(2rem, calc(3vw / 0.48), 4rem);
      .paragraph {
        margin-top: 1.5rem;
      }
    }
  }
  .list {
    display: grid;
    gap: clamp(calc(42rem / 16), calc(56vw / 7.68), calc(56rem / 16))
      clamp(calc(32rem / 16), calc(48vw / 7.68), calc(48rem / 16));
    counter-reset: counter;
    @media (min-width: calc(1100rem / 16)) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item {
      max-width: calc(582rem / 16);
      counter-increment: counter;
      &::before {
        content: '0' counter(counter);
        display: block;
        color: var(--neutral-400, #868585);
        font-size: 1rem;;
        margin-bottom: clamp(calc(8rem / 16), calc(20vw / 7.68), calc(28rem / 16));
      }
      .heading {
        font-size: 1.5rem;
      }
      .description {
        margin-top: clamp(calc(12rem / 16), calc(20vw / 7.68), calc(20rem / 16));
        font-size: 1rem;
      }
    }
  }
</style>
